*{
    padding: 0;
    margin: 0;
}

.header-top{
    background-color: rgb(87, 136, 234);
    width: 100%;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar {
    display: flex;
}

.navbar li{
    list-style: none;
    margin: 10px;
}

.navbar li a{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}

.search{
    display: flex;
    position: relative;
}

.search input{
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 200px;
}

.search i{
    color: black;
    position: absolute; 
    right: 5px;
    margin: 5px;    
}

.account{
    display: flex;
    color: white;
    align-items: center; /*căn đều chiều cao khác nhau*/
    
}
.account i{
    margin-left: 5px;
}

.avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden; /*chống tràn viền hình ảnh*/
    margin-right: 5px;
}

.avatar img{
    width: 100%;
}