*{
    padding: 0;
    margin: 0;
}

.main{
    display: flex;
    flex-direction: column;
    margin: 30px 100px;
    width: 700px;

}

.item{
    background-color: orange;
    color: white;
    font-family: sans-serif;
    margin: 20px;
    height: 40px;
    text-align: center;
    align-content: center;
}

.item-30{
    width: 30%;
}

.item-100{
    width: 100%;
}

.item-90{
    width: 90%;
}

.item-10{
    width: 10%;
}

.item-50{
    width: 50%;
}

.item-60{
    width: 60%;
}

.item-80{
    width: 80%;
}